---
name: examples
url: /examples
animationIn: fadeIn
---

<div class="grid-container">
	<h1>Examples from Foundation for Apps</h1>
	<!-- Grid Examples -->
	<style>
		.grid_eg{
			background-color:#CFDEEA;
		}
		.grid_eg .grid-content{
			background-color: #E6EEF4;
			border: 1px dashed #CFDEEA;
		}
	</style>
	<div class="grid-block grid_eg align-center">
		<div class="grid-content large-4 medium-6  small-12">
			<p>Example Content</p>
		</div>
		<div class="grid-content large-4  medium-6 small-12">
			<p>Example Content</p>
		</div>
		<div class="grid-content large-4  medium-6 small-12">
			<p>Example Content</p>
		</div>
		<div class="grid-content large-4 medium-6 small-12">
			<p>Example Content</p>
		</div>
	</div>
	<!-- /Grid Examples -->
	
	<p>&nbsp;</p>
	<hr/>
	<p>&nbsp;</p>
	
	<h3>Buttons</h3>
	<div class="grid-content">
		<a class="button" href="#">Primary Color</a>
		<a class="secondary button" href="#">Secondary Color</a>
		<a class="success button" href="#">Success Color</a>
		<a class="alert button" href="#">Alert Color</a>
		<a class="warning button" href="#">Warning Color</a>
	</div>
	<div class="grid-content">
		<a class="hollow button" href="#">Primary Color</a>
		<a class="hollow secondary button" href="#">Secondary Color</a>
		<a class="hollow success button" href="#">Success Color</a>
		<a class="hollow alert button" href="#">Alert Color</a>
		<a class="hollow warning button" href="#">Warning Color</a>
	</div>
	<p>&nbsp;</p>
	<hr/>
	<p>&nbsp;</p>
	<h3>Labels</h3>
	<span class="label">Default Label</span>
	<span class="success label">Success Label</span>
	<span class="alert label">Alert Label</span>
	<span class="warning label">Warning Label</span>
	<!-- /Button and Label Examples -->
	<p>&nbsp;</p>
	<hr/>
	<p>&nbsp;</p>
	<!-- Cards -->
	<h3>Cards</h3>
	<div class="grid-block">
		<div class="grid-content large-4 medium-6 small-12">
			<div class="card">
				<img src="http://placekitten.com/g/400/200">
				<div class="card-divider">
					This is a header
				</div>
				<div class="card-section">
					<h4>The Basics: Group and Block</h4>
					<p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
				</div>
			</div>
		</div>
		<div class="grid-content large-4 medium-6 small-12">
			<div class="card">
				<img src="http://placekitten.com/g/400/200">
				<div class="card-divider">
					This is a header
				</div>
				<div class="card-section">
					<h4>The Basics: Group and Block</h4>
					<p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
				</div>
			</div>
		</div>
		<div class="grid-content large-4 medium-6 small-12">
			<div class="card">
				<img src="http://placekitten.com/g/400/200">
				<div class="card-divider">
					This is a header
				</div>
				<div class="card-section">
					<h4>The Basics: Group and Block</h4>
					<p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
				</div>
			</div>
		</div>
		<div class="grid-content large-4 medium-6 small-12">
			<div class="card">
				<img src="http://placekitten.com/g/400/200">
				<div class="card-divider">
					This is a header
				</div>
				<div class="card-section">
					<h4>The Basics: Group and Block</h4>
					<p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
				</div>
			</div>
		</div>
		<div class="grid-content large-4 medium-6 small-12">
			<div class="card">
				<img src="http://placekitten.com/g/400/200">
				<div class="card-divider">
					This is a header
				</div>
				<div class="card-section">
					<h4>The Basics: Group and Block</h4>
					<p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
				</div>
			</div>
		</div>
		<div class="grid-content large-4 medium-6 small-12">
			<div class="card">
				<img src="http://placekitten.com/g/400/200">
				<div class="card-divider">
					This is a header
				</div>
				<div class="card-section">
					<h4>The Basics: Group and Block</h4>
					<p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- /Cards -->
	<p>&nbsp;</p>
	<hr/>
	<p>&nbsp;</p>
	<!--	Action Sheet-->
	<div zf-action-sheet="">
		<div zf-as-button="" title="I'm an Action Sheet"></div>
		<div zf-as-content="" position="bottom">
			<p>Tap to share</p>
			<ul>
				<li><a href="#">Twitter</a></li>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Mail</a></li>
			</ul>
		</div>
	</div>
	<zf-action-sheet>
		<zf-as-button title="I'm an Action Sheet"></zf-as-button>
		<zf-as-content position="bottom">
			<p>Tap to share</p>
			<ul>
				<li><a href="#">Twitter</a></li>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Mail</a></li>
			</ul>
		</zf-as-content>
	</zf-action-sheet>
	<!-- /Action Sheet -->
	<p>&nbsp;</p>
	<hr/>
	<p>&nbsp;</p>
	<!-- Iconic --> 
	<h3>Iconic</h3>
	<img zf-iconic="" icon="thumb" size="medium">
	<img zf-iconic="" icon="star" size="medium">
	<img zf-iconic="" icon="ban" size="large" class="iconic-color-warning">
	<!-- /Iconic-->
	<p>&nbsp;</p>
	<hr/>
	<p>&nbsp;</p>
	<h3>Animation</h3>
	<div class="grid-block">
		<div class="grid-content large-4">
			<div class="primary button" ng-class="animateBox" style="height:200px;width:200px;"></div>
		</div>
		<div class="grid-content large-8">
			<div class="hollow primary button" ng-click="animateBox='shake'">shake</div>
			<div class="hollow primary button" ng-click="animateBox='spin-cw'">spin-cw</div>
			<div class="hollow primary button" ng-click="animateBox='spin-ccw'">spin-ccw</div>
			<div class="hollow primary button" ng-click="animateBox='wiggle'">wiggle</div>
		</div>
	</div>
	<p>&nbsp;</p>
	<hr/>
	<p>&nbsp;</p>
	<a href="#!/examples/child" class="large hollow button" ng-click="childContent='fadeIn'">Click to Load Child Content</a>
	<div ng-class="childContent" ui-view>
	</div>

</div>